
# Project: Investigate a Dataset - [fuel economy Dataset]

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Overview
To complete my Data Analysis project I will be using the fuel economy of an automobile  dataset.

This dataset contains information about 2 thousand movies including user ratings and revenue, this dataset collected from EBA https://www.epa.gov/compliance-and-fuel-economy-data/data-cars-used-testing-fuel-economy  It consist of 21 columns such as: 
#### Attribute	Description
Model$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Vehicle make and model<br>
Displ$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Engine displacement - the size of an engine in liters.<br>
Cyl$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$The number of cylinders in a particular engine.<br>
Trans$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Transmission Type and Number of Gears.<br>
Drive$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Drive axle type (2WD = 2-wheel drive, 4WD = 4-wheel/all-wheel drive)<br>
Fuel$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Fuel Type<br>
Cert Region*$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;$Certification Region Code<br>
Sales Area**$\;\;\;\;\;\;$$\;\;\;\;\;\;\;$Certification Region Code<br>
Stnd$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Vehicle emissions standard code<br>
Stnd Description*$\;\;\;\;\;\;$$\;\;$Vehicle emissions standard description<br>
Underhood ID$\;\;\;\;\;\;$$\;\;\;\;$This is a 12-digit ID number that can be found on the underhood emission label of every vehicle. <br>
Veh Class$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;$EPA Vehicle Class<br>
AirPollu_Score$\;\;\;\;\;\;$$\;\;\;$Air pollution score (smog rating)<br>
City MPG$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;\;$Estimated city mpg (miles/gallon)<br>
Hwy MPG$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;$Estimated highway mpg (miles/gallon)<br>
Cmb MPG$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;$Estimated combined mpg (miles/gallon)<br>
GreenGasScore$\;\;\;\;\;\;$Greenhouse gas rating<br>
SmartWay$\;\;\;\;\;\;$$\;\;\;\;\;\;\;\;$Yes, No, or Elite<br>

##### Vehicles that receive the SmartWay certification are very good environmental performers relative to other vehicles


### Question(s) for Analysis
##### The number of movies each year ?!
##### Budget vs vote average in one year!
##### Duration of the movie vs Popularity
For this question I will explore the following properties of the Vehicles with respect to the SmartWay certification Vehicles:
<br><br><br><br>
### Predict SmartWay?

<a id='wrangling'></a>
## Data Wrangling

>  After loading the datset, I will use Pandas to explore some helpful methods for assessing and building intuition about the dataset, then I will proceed with the cleaning process to include only the relavent data related to the questions I will apply on the dataset for the analysis process and delete the unused data.


### General Properties
>  load my dataset to explore data.

In [1]:
import pandas as pd
df_08=pd.read_excel('all_alpha_08.xls')
df_9=pd.read_excel('all_alpha_09.xls')
df_10=pd.read_excel('all_alpha_10.xls')
df_11=pd.read_excel('all_alpha_11.xlsx')
df_12=pd.read_excel('all_alpha_12.xlsx')
df_13=pd.read_excel('all_alpha_13.xlsx')
df_14=pd.read_excel('all_alpha_14.xlsx')
df_15=pd.read_excel('all_alpha_15.xlsx')
df_16=pd.read_excel('all_alpha_16.xlsx')
df_17=pd.read_excel('all_alpha_17.xlsx')
df_18=pd.read_excel('all_alpha_18.xlsx')
df_19=pd.read_excel('all_alpha_19.xlsx')
df_20=pd.read_excel('all_alpha_20.xlsx')
df_21=pd.read_excel('all_alpha_21.xlsx')
df_22=pd.read_excel('all_alpha_22.xlsx')

## Cleaning Column Labels

In [2]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [3]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [4]:
df_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2561 non-null   object
 1   Displ                 2561 non-null   float64
 2   Cyl                   2363 non-null   float64
 3   Trans                 2561 non-null   object
 4   Drive                 2561 non-null   object
 5   Fuel                  2561 non-null   object
 6   Sales Area            2561 non-null   object
 7   Stnd                  2561 non-null   object
 8   Stnd Description      2561 non-null   object
 9   Underhood ID          2561 non-null   object
 10  Veh Class             2561 non-null   object
 11  Air Pollution Score   2561 non-null   object
 12  City MPG              2363 non-null   object
 13  Hwy MPG               2363 non-null   object
 14  Cmb MPG               2363 non-null   object
 15  Greenhouse Gas Score  2363 non-null   object
 16  SmartWay              2561 non-null   object
dtypes: float64(2), object(15)
memory usage: 340.3+ KB

In [5]:
df_9.drop(['Stnd','Stnd Description', 'Underhood ID',], axis=1, inplace=True)

In [6]:
df_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2326 entries, 0 to 2325
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2326 non-null   object
 1   Displ                 2322 non-null   float64
 2   Cyl                   2322 non-null   float64
 3   Trans                 2326 non-null   object
 4   Drive                 2326 non-null   object
 5   Fuel                  2326 non-null   object
 6   Sales Area            2326 non-null   object
 7   Stnd                  2326 non-null   object
 8   Stnd Description      2326 non-null   object
 9   Underhood ID          2326 non-null   object
 10  Veh Class             2326 non-null   object
 11  Air Pollution Score   2326 non-null   object
 12  City MPG              2155 non-null   object
 13  Hwy MPG               2155 non-null   object
 14  Cmb MPG               2155 non-null   object
 15  Greenhouse Gas Score  2157 non-null   object
 16  SmartWay              2326 non-null   object
dtypes: float64(2), object(15)
memory usage: 309.0+ KB

In [7]:
df_10.drop(['Stnd','Stnd Description', 'Underhood ID',], axis=1, inplace=True)

In [8]:
df_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2171 entries, 0 to 2170
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2171 non-null   object
 1   Displ                 2165 non-null   float64
 2   Cyl                   2154 non-null   float64
 3   Trans                 2171 non-null   object
 4   Drive                 2171 non-null   object
 5   Fuel                  2171 non-null   object
 6   Sales Area            2171 non-null   object
 7   Stnd                  2171 non-null   object
 8   Stnd Description      2171 non-null   object
 9   Underhood ID          2171 non-null   object
 10  Veh Class             2171 non-null   object
 11  Air Pollution Score   2171 non-null   object
 12  City MPG              2028 non-null   object
 13  Hwy MPG               2028 non-null   object
 14  Cmb MPG               2028 non-null   object
 15  Greenhouse Gas Score  2033 non-null   object
 16  SmartWay              2171 non-null   object
dtypes: float64(2), object(15)
memory usage: 288.5+ KB

In [9]:
df_11.drop(['Stnd','Stnd Description', 'Underhood ID',], axis=1, inplace=True)
# confirm changes
df_11.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,SUV,6,16,21,18,3,no

In [10]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252 entries, 0 to 2251
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2252 non-null   object
 1   Displ                 2240 non-null   float64
 2   Cyl                   2240 non-null   float64
 3   Trans                 2252 non-null   object
 4   Drive                 2252 non-null   object
 5   Fuel                  2252 non-null   object
 6   Sales Area            2252 non-null   object
 7   Stnd                  2252 non-null   object
 8   Stnd Description      2252 non-null   object
 9   Underhood ID          2252 non-null   object
 10  Veh Class             2252 non-null   object
 11  Air Pollution Score   2252 non-null   object
 12  City MPG              2107 non-null   object
 13  Hwy MPG               2107 non-null   object
 14  Cmb MPG               2107 non-null   object
 15  Greenhouse Gas Score  2107 non-null   object
 16  SmartWay              2252 non-null   object
dtypes: float64(2), object(15)
memory usage: 299.2+ KB

In [11]:
df_12.drop(['Stnd','Stnd Description', 'Underhood ID',], axis=1, inplace=True)
# confirm changes
df_12.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,6.0,SemiAuto-6,4WD,Gasoline,FA,SUV,5,16,21,18,3,no

In [12]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2397 entries, 0 to 2396
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2397 non-null   object
 1   Displ                 2372 non-null   float64
 2   Cyl                   2372 non-null   float64
 3   Trans                 2397 non-null   object
 4   Drive                 2397 non-null   object
 5   Fuel                  2397 non-null   object
 6   Sales Area            2397 non-null   object
 7   Stnd                  2397 non-null   object
 8   Stnd Description      2397 non-null   object
 9   Underhood ID          2397 non-null   object
 10  Veh Class             2397 non-null   object
 11  Air Pollution Score   2397 non-null   object
 12  City MPG              2230 non-null   object
 13  Hwy MPG               2230 non-null   object
 14  Cmb MPG               2230 non-null   object
 15  Greenhouse Gas Score  2230 non-null   object
 16  SmartWay              2397 non-null   object
 17  Comb CO2              2230 non-null   object
dtypes: float64(2), object(16)
memory usage: 337.2+ KB

In [13]:
df_13.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_13.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,1.5,4.0,SCV-7,2WD,Gasoline,FC,small car,7,39,38,38,9,Yes,228

In [14]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2517 non-null   object
 1   Displ                 2487 non-null   float64
 2   Cyl                   2487 non-null   float64
 3   Trans                 2517 non-null   object
 4   Drive                 2517 non-null   object
 5   Fuel                  2517 non-null   object
 6   Sales Area            2517 non-null   object
 7   Stnd                  2517 non-null   object
 8   Stnd Description      2517 non-null   object
 9   Underhood ID          2517 non-null   object
 10  Veh Class             2517 non-null   object
 11  Air Pollution Score   2517 non-null   object
 12  City MPG              2320 non-null   object
 13  Hwy MPG               2320 non-null   object
 14  Cmb MPG               2320 non-null   object
 15  Greenhouse Gas Score  2320 non-null   object
 16  SmartWay              2517 non-null   object
 17  Comb CO2              2320 non-null   object
dtypes: float64(2), object(16)
memory usage: 354.1+ KB

In [15]:
df_14.drop(['Stnd','Stnd Description', 'Underhood ID',' Comb CO2'], axis=1, inplace=True)
# confirm changes
df_14.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,1.5,4.0,SCV-7,2WD,Gasoline,FA,small car,9,39,38,38,9,Yes,228

In [16]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2653 non-null   object
 1   Displ                 2621 non-null   float64
 2   Cyl                   2621 non-null   float64
 3   Trans                 2653 non-null   object
 4   Drive                 2653 non-null   object
 5   Fuel                  2653 non-null   object
 6   Sales Area            2653 non-null   object
 7   Stnd                  2653 non-null   object
 8   Stnd Description      2653 non-null   object
 9   Underhood ID          2653 non-null   object
 10  Veh Class             2653 non-null   object
 11  Air Pollution Score   2653 non-null   object
 12  City MPG              2385 non-null   object
 13  Hwy MPG               2385 non-null   object
 14  Cmb MPG               2385 non-null   object
 15  Greenhouse Gas Score  2385 non-null   object
 16  SmartWay              2653 non-null   object
 17  Comb CO2              2385 non-null   object
dtypes: float64(2), object(16)
memory usage: 373.2+ KB

In [17]:
df_15.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_15.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.0,4.0,SemiAuto-5,2WD,Gasoline,FA,small car,5,24,35,28,7,No,316

In [18]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2589 non-null   object
 1   Displ                 2529 non-null   float64
 2   Cyl                   2529 non-null   float64
 3   Trans                 2589 non-null   object
 4   Drive                 2589 non-null   object
 5   Fuel                  2589 non-null   object
 6   Cert Region           2589 non-null   object
 7   Stnd                  2589 non-null   object
 8   Stnd Description      2589 non-null   object
 9   Underhood ID          2589 non-null   object
 10  Veh Class             2589 non-null   object
 11  Air Pollution Score   2589 non-null   object
 12  City MPG              2589 non-null   object
 13  Hwy MPG               2589 non-null   object
 14  Cmb MPG               2589 non-null   object
 15  Greenhouse Gas Score  2589 non-null   object
 16  SmartWay              2589 non-null   object
 17  Comb CO2              2589 non-null   object
dtypes: float64(2), object(16)
memory usage: 364.2+ KB

In [19]:
df_16.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_16.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AutoMan-8,2WD,Gasoline,FA,small car,5,25,36,29,7,No,305

In [20]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2589 non-null   object
 1   Displ                 2527 non-null   float64
 2   Cyl                   2527 non-null   float64
 3   Trans                 2589 non-null   object
 4   Drive                 2589 non-null   object
 5   Fuel                  2589 non-null   object
 6   Cert Region           2589 non-null   object
 7   Stnd                  2589 non-null   object
 8   Stnd Description      2589 non-null   object
 9   Underhood ID          2589 non-null   object
 10  Veh Class             2589 non-null   object
 11  Air Pollution Score   2589 non-null   int64
 12  City MPG              2589 non-null   object
 13  Hwy MPG               2589 non-null   object
 14  Cmb MPG               2589 non-null   object
 15  Greenhouse Gas Score  2589 non-null   int64
 16  SmartWay              2589 non-null   object
 17  Comb CO2              2589 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 364.2+ KB

In [21]:
df_17.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_17.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,6,25,35,29,7,Yes,309

In [22]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2713 non-null   object
 1   Displ                 2663 non-null   float64
 2   Cyl                   2663 non-null   float64
 3   Trans                 2713 non-null   object
 4   Drive                 2713 non-null   object
 5   Fuel                  2713 non-null   object
 6   Cert Region           2713 non-null   object
 7   Stnd                  2713 non-null   object
 8   Stnd Description      2713 non-null   object
 9   Underhood ID          2713 non-null   object
 10  Veh Class             2713 non-null   object
 11  Air Pollution Score   2713 non-null   int64
 12  City MPG              2713 non-null   object
 13  Hwy MPG               2713 non-null   object
 14  Cmb MPG               2713 non-null   object
 15  Greenhouse Gas Score  2713 non-null   int64
 16  SmartWay              2713 non-null   object
 17  Comb CO2              2713 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 381.6+ KB

In [23]:
df_18.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

In [24]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2690 non-null   object
 1   Displ                 2610 non-null   float64
 2   Cyl                   2610 non-null   float64
 3   Trans                 2690 non-null   object
 4   Drive                 2690 non-null   object
 5   Fuel                  2690 non-null   object
 6   Cert Region           2690 non-null   object
 7   Stnd                  2690 non-null   object
 8   Stnd Description      2690 non-null   object
 9   Underhood ID          2690 non-null   object
 10  Veh Class             2690 non-null   object
 11  Air Pollution Score   2690 non-null   int64
 12  City MPG              2690 non-null   object
 13  Hwy MPG               2690 non-null   object
 14  Cmb MPG               2690 non-null   object
 15  Greenhouse Gas Score  2690 non-null   int64
 16  SmartWay              2690 non-null   object
 17  Comb CO2              2690 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 378.4+ KB

In [25]:
df_19.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_19.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,24,34,28,6,No,316

In [26]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2545 entries, 0 to 2544
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2545 non-null   object
 1   Displ                 2462 non-null   float64
 2   Cyl                   2462 non-null   float64
 3   Trans                 2545 non-null   object
 4   Drive                 2545 non-null   object
 5   Fuel                  2545 non-null   object
 6   Cert Region           2545 non-null   object
 7   Stnd                  2545 non-null   object
 8   Stnd Description      2545 non-null   object
 9   Underhood ID          2545 non-null   object
 10  Veh Class             2545 non-null   object
 11  Air Pollution Score   2545 non-null   int64
 12  City MPG              2545 non-null   object
 13  Hwy MPG               2545 non-null   object
 14  Cmb MPG               2545 non-null   object
 15  Greenhouse Gas Score  2545 non-null   int64
 16  SmartWay              2545 non-null   object
 17  Comb CO2              2545 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 358.0+ KB

In [27]:
df_20.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_20.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,24,34,28,6,No,316

In [28]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2586 entries, 0 to 2585
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2586 non-null   object
 1   Displ                 2465 non-null   float64
 2   Cyl                   2465 non-null   float64
 3   Trans                 2586 non-null   object
 4   Drive                 2586 non-null   object
 5   Fuel                  2586 non-null   object
 6   Cert Region           2586 non-null   object
 7   Stnd                  2586 non-null   object
 8   Stnd Description      2586 non-null   object
 9   Underhood ID          2586 non-null   object
 10  Veh Class             2586 non-null   object
 11  Air Pollution Score   2586 non-null   int64
 12  City MPG              2586 non-null   object
 13  Hwy MPG               2586 non-null   object
 14  Cmb MPG               2586 non-null   object
 15  Greenhouse Gas Score  2586 non-null   int64
 16  SmartWay              2586 non-null   object
 17  Comb CO2              2586 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 363.8+ KB

In [29]:
df_21.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_21.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,24,34,28,6,No,316

In [30]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2399 non-null   object
 1   Displ                 2231 non-null   float64
 2   Cyl                   2231 non-null   float64
 3   Trans                 2399 non-null   object
 4   Drive                 2399 non-null   object
 5   Fuel                  2399 non-null   object
 6   Cert Region           2399 non-null   object
 7   Stnd                  2399 non-null   object
 8   Stnd Description      2399 non-null   object
 9   Underhood ID          2399 non-null   object
 10  Veh Class             2399 non-null   object
 11  Air Pollution Score   2399 non-null   int64
 12  City MPG              2399 non-null   object
 13  Hwy MPG               2399 non-null   object
 14  Cmb MPG               2399 non-null   object
 15  Greenhouse Gas Score  2399 non-null   int64
 16  SmartWay              2399 non-null   object
 17  Comb CO2              2399 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 337.5+ KB

In [31]:
df_22.drop(['Stnd','Stnd Description', 'Underhood ID','Comb CO2'], axis=1, inplace=True)
# confirm changes
df_22.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,24,34,28,6,No,316

In [32]:
df_08.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_9.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_10.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_11.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_12.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_13.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_14.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_15.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_16.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_17.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_18.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_19.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_20.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_21.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

df_22.rename(columns=lambda x : x.strip().lower().replace(' ','_'),inplace = True)

In [54]:
df_17.rename(columns={'sales_area':'cert_region','smog_rating':'air_pollution_score'},inplace=True)
df_16.rename(columns={'sales_area':'cert_region','smog_rating':'air_pollution_score'},inplace=True)
df_15.rename(columns={'sales_area':'cert_region','smog_rating':'air_pollution_score'},inplace=True)
df_14.rename(columns={'sales_area':'cert_region','smog_rating':'air_pollution_score','greenhouse_gas_rating':'greenhouse_gas_score'},inplace=True)
df_13.rename(columns={'sales_area':'cert_region','smog_rating':'air_pollution_score','greenhouse_gas_rating':'greenhouse_gas_score'},inplace=True)
df_12.rename(columns={'sales_area':'cert_region'},inplace=True)
df_11.rename(columns={'sales_area':'cert_region'},inplace=True)
df_10.rename(columns={'sales_area':'cert_region'},inplace=True)

df_08.rename(columns={'sales_area':'cert_region'},inplace=True)
df_9.rename(columns={'sales_area':'cert_region','smog_rating':'air_pollution_score'},inplace=True)

In [56]:
(df_08.columns == df_11.columns)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [64]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2371 entries, 0 to 2370
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2371 non-null   object
 1   displ                 2371 non-null   float64
 2   cyl                   2371 non-null   float64
 3   trans                 2371 non-null   object
 4   drive                 2371 non-null   object
 5   fuel                  2371 non-null   object
 6   cert_region           2371 non-null   object
 7   veh_class             2371 non-null   object
 8   air_pollution_score   2371 non-null   object
 9   city_mpg              2370 non-null   object
 10  hwy_mpg               2370 non-null   object
 11  cmb_mpg               2370 non-null   object
 12  greenhouse_gas_score  2371 non-null   object
 13  smartway              2371 non-null   object
dtypes: float64(2), object(12)
memory usage: 259.5+ KB

#### confirm changes

In [65]:
print((df_08.columns == df_9.columns).all())
print((df_08.columns == df_10.columns).all())
print((df_08.columns == df_11.columns).all())
print((df_08.columns == df_12.columns).all())
print((df_08.columns == df_13.columns).all())
print((df_08.columns == df_14.columns).all())
print((df_08.columns == df_15.columns).all())
print((df_08.columns == df_16.columns).all())
print((df_08.columns == df_17.columns).all())
print((df_08.columns == df_18.columns).all())
print((df_08.columns == df_19.columns).all())
print((df_08.columns == df_20.columns).all())
print((df_08.columns == df_21.columns).all())
print((df_08.columns == df_22.columns).all())

True
True
True
True
True
True
True
True
True
True
True
True
True
True

### Greenhouse Gas Rating and air pollution score
##### Vehicles that score a 10 are the cleanest

In [66]:
df_18['smartway'].value_counts()

No       2277
Yes       308
Elite      56
Name: smartway, dtype: int64

In [67]:
df_08['cert_region'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [68]:
df_08['cert_region'].value_counts()

FA    1039
CA     987
FC     181
Name: cert_region, dtype: int64

In [69]:
df_08['trans'].unique()

array(['Auto-S5', 'Man-6', 'Auto-S6', 'Auto-AV', 'Auto-S7', 'Auto-L4',
       'Auto-L6', 'Auto-4', 'Man-5', 'Auto-L5', 'Auto-6', 'S8', 'Auto-S4',
       'Auto-L7'], dtype=object)

In [70]:
df_18['smartway'].unique()

array(['No', 'Elite', 'Yes'], dtype=object)

In [71]:
df_18['smartway'].value_counts()

No       2277
Yes       308
Elite      56
Name: smartway, dtype: int64

In [72]:
df_18['cert_region'].unique()

array(['CA', 'FA'], dtype=object)

In [73]:
df_08['cyl'].unique(),df_18['cyl'].unique()

(array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)',
        '(16 cyl)', '(5 cyl)', '(2 cyl)'], dtype=object),
 array([ 4.,  6.,  8., 12., 10.,  5., 16.,  2.,  3.]))

In [74]:
df_08['fuel'].unique()

array(['Gasoline', 'ethanol', 'CNG', 'diesel', 'gas'], dtype=object)

In [75]:
df_18['fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas'],
      dtype=object)

In [76]:
sum(df_08.duplicated()==True),sum(df_18.duplicated()==True)

(0, 0)

# Filter, Drop Nulls, Dedupe

In [77]:
df_08.dropna(inplace=True)
df_9.dropna(inplace=True)
df_10.dropna(inplace=True)
df_11.dropna(inplace=True)
df_12.dropna(inplace=True)
df_13.dropna(inplace=True)
df_14.dropna(inplace=True)
df_15.dropna(inplace=True)
df_16.dropna(inplace=True)
df_17.dropna(inplace=True)
df_18.dropna(inplace=True)
df_19.dropna(inplace=True)
df_20.dropna(inplace=True)
df_21.dropna(inplace=True)
df_22.dropna(inplace=True)
df_08.drop_duplicates(inplace=True)
df_9.drop_duplicates(inplace=True)
df_10.drop_duplicates(inplace=True)
df_11.drop_duplicates(inplace=True)
df_12.drop_duplicates(inplace=True)
df_13.drop_duplicates(inplace=True)
df_14.drop_duplicates(inplace=True)
df_15.drop_duplicates(inplace=True)
df_16.drop_duplicates(inplace=True)
df_17.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)
df_19.drop_duplicates(inplace=True)
df_20.drop_duplicates(inplace=True)
df_21.drop_duplicates(inplace=True)
df_22.drop_duplicates(inplace=True)

In [78]:
df_08.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [79]:
df_18.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [80]:
print(df_08.duplicated().sum(),df_18.duplicated().sum(),sep="\n")

0
0

# Fixing Data Types
### Modify the rows that have hybrid cars(contain "/")

### df_8

In [81]:

df_8_hyb = df_08[df_08["fuel"].str.contains("/")]

df_8_1 = df_8_hyb.copy()
df_8_2 = df_8_hyb.copy()


split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']


for i in split_columns:
    df_8_1[i] = df_8_1[i].str.split("/",expand = True)[0]
    df_8_2[i] = df_8_2[i].str.split("/",expand = True)[1]


extracted_8 = df_8_1.append(df_8_2)




df_08.drop(df_8_hyb.index, inplace = True)

df_08 = df_08.append(extracted_8,ignore_index=True)


df_08[df_08['fuel'].str.contains('/')]

KeyError: 0

###### Repeat the same process to rest of the 9 datasets

### df_9

In [43]:
df_9_hyb = df_9[df_9["fuel"].str.contains("/")]

df_9_1 = df_9_hyb.copy()
df_9_2 = df_9_hyb.copy()

for i in split_columns:
    df_9_1[i] = df_9_1[i].str.split("/",expand = True)[0]
    df_9_2[i] = df_9_2[i].str.split("/",expand = True)[1]

extracted_9 = df_9_1.append(df_9_2)  


df_9.drop(df_9_hyb.index, inplace = True)

df_9 = df_9.append(extracted_9,ignore_index=True)

df_9[df_9['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [44]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2218 entries, 0 to 2398
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2218 non-null   object
 1   displ                 2218 non-null   float64
 2   cyl                   2218 non-null   float64
 3   trans                 2218 non-null   object
 4   drive                 2218 non-null   object
 5   fuel                  2218 non-null   object
 6   cert_region           2218 non-null   object
 7   veh_class             2218 non-null   object
 8   air_pollution_score   2218 non-null   int64
 9   city_mpg              2218 non-null   object
 10  hwy_mpg               2218 non-null   object
 11  cmb_mpg               2218 non-null   object
 12  greenhouse_gas_score  2218 non-null   int64
 13  smartway              2218 non-null   object
 14  comb_co2              2218 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 277.2+ KB

### df_10

In [45]:

df_10_hyb = df_10[df_10["fuel"].str.contains("/")]

df_10_1 = df_10_hyb.copy()
df_10_2 = df_10_hyb.copy()

for i in split_columns:
    df_10_1[i] = df_10_1[i].str.split("/",expand = True)[0]
    df_10_2[i] = df_10_2[i].str.split("/",expand = True)[1]


extracted_10 = df_10_1.append(df_10_2)



df_10.drop(df_10_hyb.index, inplace = True)

df_10 = df_10.append(extracted_10,ignore_index=True)


df_10[df_10['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, sales_area, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_11

In [46]:


df_11_hyb = df_11[df_11["fuel"].str.contains("/")]



df_11_1 = df_11_hyb.copy()
df_11_2 = df_11_hyb.copy()

for i in split_columns:
    df_11_1[i] = df_11_1[i].str.split("/",expand = True)[0]
    df_11_2[i] = df_11_2[i].str.split("/",expand = True)[1]
    



extracted_11 = df_11_1.append(df_11_2)




df_11.drop(df_11_hyb.index, inplace = True)


df_11 = df_11.append(extracted_11,ignore_index=True)



df_11[df_11['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, sales_area, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_12

In [47]:

df_12_hyb = df_12[df_12["fuel"].str.contains("/")]


df_12_1 = df_12_hyb.copy()
df_12_2 = df_12_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']

for i in split_columns:
    df_12_1[i] = df_12_1[i].str.split("/",expand = True)[0]
    df_12_2[i] = df_12_2[i].str.split("/",expand = True)[1]
    

extracted_12 = df_12_1.append(df_12_2)



df_12.drop(df_12_hyb.index, inplace = True)


df_12 = df_12.append(extracted_12,ignore_index=True)

df_12[df_12['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_13

In [48]:

df_13_hyb = df_13[df_13["fuel"].str.contains("/")]


df_13_1 = df_13_hyb.copy()
df_13_2 = df_13_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']

for i in split_columns:
    df_13_1[i] = df_13_1[i].str.split("/",expand = True)[0]
    df_13_2[i] = df_13_2[i].str.split("/",expand = True)[1]
    


extracted_13 = df_13_1.append(df_13_2)




df_13.drop(df_13_hyb.index, inplace = True)


df_13 = df_13.append(extracted_13,ignore_index=True)

df_13[df_13['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway, comb_co2]
Index: []

### df_14

In [84]:

df_14_hyb = df_14[df_14["fuel"].str.contains("/")]

df_14_1 = df_14_hyb.copy()
df_14_2 = df_14_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_14_1[i] = df_14_1[i].str.split("/",expand = True)[0]
    df_14_2[i] = df_14_2[i].str.split("/",expand = True)[1]
    

extracted_14 = df_14_1.append(df_14_2)




df_14.drop(df_14_hyb.index, inplace = True)


df_14 = df_14.append(extracted_14,ignore_index=True)


df_14[df_14['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_15

In [85]:

df_15_hyb = df_15[df_15["fuel"].str.contains("/")]


df_15_1 = df_15_hyb.copy()
df_15_2 = df_15_hyb.copy()




split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_15_1[i] = df_15_1[i].str.split("/",expand = True)[0]
    df_15_2[i] = df_15_2[i].str.split("/",expand = True)[1]
    


extracted_15 = df_15_1.append(df_15_2)




df_15.drop(df_15_hyb.index, inplace = True)


df_15 = df_15.append(extracted_15,ignore_index=True)


df_15[df_15['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_16

In [86]:

df_16_hyb = df_16[df_16["fuel"].str.contains("/")]

df_16_1 = df_16_hyb.copy()
df_16_2 = df_16_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_16_1[i] = df_16_1[i].str.split("/",expand = True)[0]
    df_16_2[i] = df_16_2[i].str.split("/",expand = True)[1]
    


extracted_16 = df_16_1.append(df_16_2)



df_16.drop(df_16_hyb.index, inplace = True)


df_16 = df_16.append(extracted_16,ignore_index=True)


df_16[df_16['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_17

In [87]:

df_17_hyb = df_17[df_17["fuel"].str.contains("/")]

df_17_1 = df_17_hyb.copy()
df_17_2 = df_17_hyb.copy()



split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_17_1[i] = df_17_1[i].str.split("/",expand = True)[0]
    df_17_2[i] = df_17_2[i].str.split("/",expand = True)[1]
    


extracted_17 = df_17_1.append(df_17_2)




df_17.drop(df_17_hyb.index, inplace = True)


df_17 = df_17.append(extracted_17,ignore_index=True)


df_17[df_17['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_18

In [88]:

df_18_hyb = df_18[df_18["fuel"].str.contains("/")]


df_18_1 = df_18_hyb.copy()
df_18_2 = df_18_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']

for i in split_columns:
    df_18_1[i] = df_18_1[i].str.split("/",expand = True)[0]
    df_18_2[i] = df_18_2[i].str.split("/",expand = True)[1]
    


extracted_18 = df_18_1.append(df_18_2)




df_18.drop(df_18_hyb.index, inplace = True)


df_18 = df_18.append(extracted_18,ignore_index=True)


df_18[df_18['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_19

In [89]:

df_19_hyb = df_19[df_19["fuel"].str.contains("/")]


df_19_1 = df_19_hyb.copy()
df_19_2 = df_19_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_19_1[i] = df_19_1[i].str.split("/",expand = True)[0]
    df_19_2[i] = df_19_2[i].str.split("/",expand = True)[1]
    


extracted_19 = df_19_1.append(df_19_2)




df_19.drop(df_19_hyb.index, inplace = True)


df_19 = df_19.append(extracted_19,ignore_index=True)


df_19[df_19['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_20

In [90]:

df_20_hyb = df_20[df_20["fuel"].str.contains("/")]


df_20_1 = df_20_hyb.copy()
df_20_2 = df_20_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_20_1[i] = df_20_1[i].str.split("/",expand = True)[0]
    df_20_2[i] = df_20_2[i].str.split("/",expand = True)[1]
    


extracted_20 = df_20_1.append(df_20_2)




df_20.drop(df_20_hyb.index, inplace = True)


df_20 = df_20.append(extracted_20,ignore_index=True)


df_20[df_20['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_21

In [91]:

df_21_hyb = df_21[df_21["fuel"].str.contains("/")]



df_21_1 = df_21_hyb.copy()
df_21_2 = df_21_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_21_1[i] = df_21_1[i].str.split("/",expand = True)[0]
    df_21_2[i] = df_21_2[i].str.split("/",expand = True)[1]
    


extracted_21 = df_21_1.append(df_21_2)



df_21.drop(df_21_hyb.index, inplace = True)


df_21 = df_21.append(extracted_21,ignore_index=True)


df_21[df_21['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### df_22

In [92]:

df_22_hyb = df_22[df_22["fuel"].str.contains("/")]


df_22_1 = df_22_hyb.copy()
df_22_2 = df_22_hyb.copy()


split_columns = ['fuel',  'city_mpg', 'hwy_mpg', 'cmb_mpg']


for i in split_columns:
    df_22_1[i] = df_22_1[i].str.split("/",expand = True)[0]
    df_22_2[i] = df_22_2[i].str.split("/",expand = True)[1]
    


extracted_22 = df_22_1.append(df_22_2)




df_22.drop(df_22_hyb.index, inplace = True)


df_22 = df_22.append(extracted_22,ignore_index=True)


df_22[df_22['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [93]:
#df13 and df11 has some null values so removing it

df_13.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [137]:
df_15.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                2
hwy_mpg                 2
cmb_mpg                 2
greenhouse_gas_score    0
smartway                0
dtype: int64

In [95]:
df_13.dropna(inplace=True)

In [96]:
df_11.dropna(inplace=True)

In [138]:
df_15.dropna(inplace=True)

##### changing MPG datatypes to int

In [127]:
df_15.city_mpg.value_counts()

18     196
19     189
20     186
17     180
16     169
22     153
25     146
15     146
24     133
21     129
23     116
13     115
14      86
26      82
27      62
11      59
12      52
28      47
31      35
30      34
29      32
9       14
36      10
40      10
10       9
44       8
8        8
35       7
34       6
43       6
32       6
41       5
42       5
33       4
51       4
95       4
85       3
101      3
37       2
53       2
50       2
7        2
127      2
80       2
54       2
68       2
48       2
90       2
Name: city_mpg, dtype: int64

In [139]:
mpg_list = ['city_mpg','hwy_mpg','cmb_mpg']

In [124]:
for i in mpg_list:
    df_08[i] = df_08[i].astype("int")
    df_9[i] = df_9[i].astype("int")
    df_10[i] = df_10[i].astype("int")
    df_11[i] = df_11[i].astype("int")
    df_12[i] = df_12[i].astype("int")
    df_13[i] = df_13[i].astype("int")
    df_14[i] = df_14[i].astype("int")
    df_15[i] = df_15[i].astype("int")
    df_16[i] = df_16[i].astype("int")
    df_17[i] = df_17[i].astype("int")
    df_18[i] = df_18[i].astype("int")
    df_19[i] = df_19[i].astype("int")
    df_20[i] = df_20[i].astype("int")
    df_21[i] = df_21[i].astype("int")
    df_22[i] = df_22[i].astype("int")

In [99]:
df_20['cyl'].value_counts()

4.0     1156
6.0      783
8.0      504
12.0      47
3.0       44
10.0      12
2.0        8
5.0        4
16.0       4
Name: cyl, dtype: int64

###### changing cyl column in correct format

In [100]:
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype("float")

### change column drive from object to float

In [101]:
df_19['drive'].unique()

array(['2WD', '4WD'], dtype=object)

In [102]:
df_08['drive'] = df_08['drive'].str.replace('WD','').astype('int')

df_9['drive'] = df_9['drive'].str.replace('WD','').astype('int')

df_10['drive'] = df_10['drive'].str.replace('WD','').astype('int')

df_11['drive'] = df_11['drive'].str.replace('WD','').astype('int')

df_12['drive'] = df_12['drive'].str.replace('WD','').astype('int')

df_13['drive'] = df_13['drive'].str.replace('WD','').astype('int')

df_14['drive'] = df_14['drive'].str.replace('WD','').astype('int')

df_15['drive'] = df_15['drive'].str.replace('WD','').astype('int')

df_16['drive'] = df_16['drive'].str.replace('WD','').astype('int')

df_17['drive'] = df_17['drive'].str.replace('WD','').astype('int')

df_18['drive'] = df_18['drive'].str.replace('WD','').astype('int')

df_19['drive'] = df_19['drive'].str.replace('WD','').astype('int')

df_20['drive'] = df_20['drive'].str.replace('WD','').astype('int')

df_21['drive'] = df_21['drive'].str.replace('WD','').astype('int')

df_22['drive'] = df_22['drive'].str.replace('WD','').astype('int')

In [103]:
df_15["greenhouse_gas_score"].value_counts()

5      669
4      427
6      418
7      403
3      165
8      161
Mod     54
2       50
9       47
1       44
10      43
Name: greenhouse_gas_score, dtype: int64

###### change Data_frame  column greenhouse_gas_score from object to float

In [115]:
df_22.query("greenhouse_gas_score == 'Mod'").head()

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

### change air_pollution_score and greenhouse_gas_score to float

In [105]:
mod_list = ["air_pollution_score","greenhouse_gas_score"]

In [143]:
df_16["air_pollution_score"] = df_16["air_pollution_score"].str.replace("Mod","5").astype("float")
df_16["greenhouse_gas_score"] = df_16["greenhouse_gas_score"].astype("float")

In [146]:
for i in mod_list:
    df_08[i] = df_08[i].astype("float")
    df_9[i] = df_9[i].str.replace("Mod","5").astype("float")
    df_10[i] = df_10[i].str.replace("Mod","5").astype("float")
    df_11[i] = df_11[i].str.replace("Mod","5").astype("float")
    df_12[i] = df_12[i].str.replace("Mod","5").astype("float")
    df_13[i] = df_13[i].str.replace("Mod","5").astype("float")
    df_14[i] = df_14[i].str.replace("Mod","5").astype("float")
    df_15[i] = df_15[i].str.replace("Mod","5").astype("float")
    df_17[i] = df_17[i].astype("float")
    df_18[i] = df_18[i].astype("float")
    df_19[i] = df_17[i].astype("float")
    df_20[i] = df_18[i].astype("float")
    df_21[i] = df_17[i].astype("float")
    df_22[i] = df_18[i].astype("float")

AttributeError: Can only use .str accessor with string values!

In [145]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2479 entries, 0 to 2480
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2479 non-null   object
 1   displ                 2479 non-null   float64
 2   cyl                   2479 non-null   float64
 3   trans                 2479 non-null   object
 4   drive                 2479 non-null   int32
 5   fuel                  2479 non-null   object
 6   cert_region           2479 non-null   object
 7   veh_class             2479 non-null   object
 8   air_pollution_score   2479 non-null   float64
 9   city_mpg              2479 non-null   int32
 10  hwy_mpg               2479 non-null   int32
 11  cmb_mpg               2479 non-null   int32
 12  greenhouse_gas_score  2479 non-null   float64
 13  smartway              2479 non-null   object
dtypes: float64(4), int32(4), object(6)
memory usage: 251.8+ KB

In [166]:
frames = [df_08,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21,df_22]

In [167]:
df_combined = pd.concat(frames, keys=['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022'])
df_combined.head()

            model  displ  cyl    trans  drive      fuel cert_region  \
2008 0  ACURA MDX    3.7  6.0  Auto-S5      4  Gasoline          CA
     1  ACURA MDX    3.7  6.0  Auto-S5      4  Gasoline          FA
     2  ACURA RDX    2.3  4.0  Auto-S5      4  Gasoline          CA
     3  ACURA RDX    2.3  4.0  Auto-S5      4  Gasoline          FA
     4   ACURA RL    3.5  6.0  Auto-S5      4  Gasoline          CA

          veh_class  air_pollution_score  city_mpg  hwy_mpg  cmb_mpg  \
2008 0          SUV                  7.0        15       20       17
     1          SUV                  6.0        15       20       17
     2          SUV                  7.0        17       22       19
     3          SUV                  6.0        17       22       19
     4  midsize car                  7.0        16       24       19

        greenhouse_gas_score smartway
2008 0                   4.0       no
     1                   4.0       no
     2                   5.0       no
     3                   5.0       no
     4                   5.0       no

In [168]:
df_combined.smartway.value_counts()

No       21061
no        8366
Yes       4071
yes       2737
Elite      388
Name: smartway, dtype: int64

In [169]:
df_combined.smartway[df_combined.smartway=='yes']='Yes'
df_combined.smartway[df_combined.smartway=='no']='No'
df_combined.smartway[df_combined.smartway=='Elite']='Yes'

C:\Users\ABO_SH~1\AppData\Local\Temp/ipykernel_9856/4108609900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.smartway[df_combined.smartway=='yes']='Yes'
C:\Users\ABO_SH~1\AppData\Local\Temp/ipykernel_9856/4108609900.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.smartway[df_combined.smartway=='no']='No'
C:\Users\ABO_SH~1\AppData\Local\Temp/ipykernel_9856/4108609900.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.smartway[df_combined.smartway=='Elite']='Yes'

In [170]:
df_combined.smartway.value_counts()

No     29427
Yes     7196
Name: smartway, dtype: int64

In [171]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [172]:
label_encoder = preprocessing.LabelEncoder()

df_combined['smartway'] = label_encoder.fit_transform(df_combined['smartway'])
df_combined['smartway'].unique()

array([0, 1])

In [173]:
df_combined["veh_class"] = label_encoder.fit_transform(df_combined["veh_class"] )
df_combined

                            model  displ  cyl       trans  drive         fuel  \
2008 0                  ACURA MDX    3.7  6.0     Auto-S5      4     Gasoline
     1                  ACURA MDX    3.7  6.0     Auto-S5      4     Gasoline
     2                  ACURA RDX    2.3  4.0     Auto-S5      4     Gasoline
     3                  ACURA RDX    2.3  4.0     Auto-S5      4     Gasoline
     4                   ACURA RL    3.5  6.0     Auto-S5      4     Gasoline
...                           ...    ...  ...         ...    ...          ...
2022 2261   VOLVO V60 T8 Recharge    2.0  4.0  SemiAuto-8      4  Electricity
     2262  VOLVO XC60 T8 Recharge    2.0  4.0  SemiAuto-8      4  Electricity
     2263  VOLVO XC60 T8 Recharge    2.0  4.0  SemiAuto-8      4  Electricity
     2264  VOLVO XC90 T8 Recharge    2.0  4.0  SemiAuto-8      4  Electricity
     2265  VOLVO XC90 T8 Recharge    2.0  4.0  SemiAuto-8      4  Electricity

          cert_region  veh_class  air_pollution_score  city_mpg  hwy_mpg  \
2008 0             CA          0                  7.0        15       20
     1             FA          0                  6.0        15       20
     2             CA          0                  7.0        17       22
     3             FA          0                  6.0        17       22
     4             CA          2                  7.0        16       24
...               ...        ...                  ...       ...      ...
2022 2261          FA          9                  1.0        70       68
     2262          CA          5                  1.0        59       55
     2263          FA          5                  3.0        59       55
     2264          CA          8                  3.0        58       53
     2265          FA          8                  7.0        58       53

           cmb_mpg  greenhouse_gas_score  smartway
2008 0          17                   4.0         0
     1          17                   4.0         0
     2          19                   5.0         0
     3          19                   5.0         0
     4          19                   5.0         0
...            ...                   ...       ...
2022 2261       69                   6.0         1
     2262       57                   6.0         1
     2263       57                   5.0         1
     2264       55                   5.0         1
     2265       55                   9.0         1

[36623 rows x 14 columns]

In [175]:
df_combined["fuel"] = label_encoder.fit_transform(df_combined["fuel"] )
df_combined["fuel"].unique()

array([5, 7, 0, 6, 8, 3, 4, 1, 2])

In [176]:
df_combined = df_combined.drop(columns=["trans","cert_region"])

In [177]:
df_combined = df_combined.drop(columns=['model'])

In [178]:
df_combined = df_combined.dropna()
df_combined = df_combined.reset_index(drop=True)

In [179]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33927 entries, 0 to 33926
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   displ                 33927 non-null  float64
 1   cyl                   33927 non-null  float64
 2   drive                 33927 non-null  int32
 3   fuel                  33927 non-null  int32
 4   veh_class             33927 non-null  int32
 5   air_pollution_score   33927 non-null  float64
 6   city_mpg              33927 non-null  int32
 7   hwy_mpg               33927 non-null  int32
 8   cmb_mpg               33927 non-null  int32
 9   greenhouse_gas_score  33927 non-null  float64
 10  smartway              33927 non-null  int32
dtypes: float64(4), int32(7)
memory usage: 1.9 MB

In [192]:
df_combined.smartway.value_counts()

0    27271
1     6656
Name: smartway, dtype: int64

In [193]:
no=df_combined[df_combined['smartway']==0]
no.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27271 entries, 0 to 33912
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   displ                 27271 non-null  float64
 1   cyl                   27271 non-null  float64
 2   drive                 27271 non-null  int32
 3   fuel                  27271 non-null  int32
 4   veh_class             27271 non-null  int32
 5   air_pollution_score   27271 non-null  float64
 6   city_mpg              27271 non-null  int32
 7   hwy_mpg               27271 non-null  int32
 8   cmb_mpg               27271 non-null  int32
 9   greenhouse_gas_score  27271 non-null  float64
 10  smartway              27271 non-null  int32
dtypes: float64(4), int32(7)
memory usage: 1.8 MB

In [194]:
data=df_combined[df_combined['smartway']==1]
data=data.append(no[:7000])

In [180]:
from sklearn.metrics import log_loss,accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

In [195]:
X = data.drop(columns=["smartway"])

Y = data['smartway']

In [196]:
x_train,x_test,y_train,y_test  = train_test_split(X,Y,test_size = 0.2,random_state=42)

In [197]:
print("x_train shape = " , x_train.shape)
print("x_test shape = " , x_test.shape)
print("y_train shape = " , y_train.shape)
print("y_test shape = " , y_test.shape)

x_train shape =  (10924, 10)
x_test shape =  (2732, 10)
y_train shape =  (10924,)
y_test shape =  (2732,)

In [198]:
lr_obj = LogisticRegression(C=0.01,solver="liblinear")
lr = lr_obj.fit(x_train,y_train)

In [199]:
Y_hat = lr.predict(x_test)

In [200]:
Y_hat_proba = lr.predict_proba(x_test)

In [201]:

print("log_loss = ",log_loss(y_test,Y_hat_proba))
print("Accuracy score = ",accuracy_score(y_test,Y_hat))

log_loss =  0.19070500353999878
Accuracy score =  0.9161786237188873

In [210]:
svc = LinearSVC(C=0.1,max_iter=100000)
svc.fit(x_train, y_train)

ysvm_pred = svc.predict(x_test)
#from sklearn.metrics import accuracy_score, f1_score, confusion_matrix

In [211]:
print("Accuracy score = ",accuracy_score(y_test,ysvm_pred))

Accuracy score =  0.941800878477306

<a id='conclusions'></a>
## Conclusions
### Research Question 1 (The number of movies each year ?!)
###### As the years go by, the number of movies is increasing
The year 2015 is the largest year in which he produced films and the number of them 44780670
### Research Question 2 ( Budget vs vote average in one year!)
Exploring the budget on the success of the film and chose to be in one year due to the difference in financial value over the years
 
###  Research Question 3 (Duration of the movie vs Popularity)
Conclude that popularity tends to movies of medium duration
###  Research Question 4 (Which genres have the highest rate?)
Documentary movies has the highest vote 
### Limitations

All results are limited to the underlying data set and as no advaned statistics were performed, the results can only be treated as indicators and are not generalizable. Furthermore, one has to consider that many entries in the dataset have been removed due to missing data.